@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #c32f38;
  --primary-background-color: #1f252a;
}

.pricing {
  background-color: var(--primary-background-color);
}

.pricing-container {
  max-width: 1350px;
  margin: 0 auto;
}

.pricing-title {
  display: flex;
  justify-content: center;
  p {
    padding-top: 80px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 54px;
    font-weight: 700;
    font-style: italic;
    margin: 0 0 20px;
  }
}

.underline {
  height: 10px;
  width: 100%;
  border-top: 3px solid var(--primary-color);
}

.packages-1-2-blocks {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  gap: 24px;
}

.packages-4-5-blocks {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  gap: 24px;
}

.packages-block-content {
  padding: 0 0 30px;
  background: #313c46;
  border-radius: 15px;
}

.package-2-block {
  padding-top: 60px;
}
.package-3-block {
  padding-top: 140px;
}

.package-5-block {
  padding-top: 60px;
}
.package-6-block {
  padding-top: 140px;
}

.packages-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 0 0;

  p {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 34.6px;
    font-weight: 700;
    font-style: italic;
    margin: 0 0 0;
  }

  span {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    margin: 0 0 20px;
  }
}

.package-title-bg {
  background: var(--primary-color);
  border-radius: 15px 15px 0 0;
}

.packages-price {
  display: flex;
  justify-content: center;
  padding: 0 40px;

  p {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 39.6px;
    font-weight: 700;
    margin: 20px 0;
  }
}

.price-underline {
  height: 10px;
  width: 100%;
  border-top: 3px solid var(--primary-color);
}
.img-paragraph {
  align-items: center;
  display: flex;
  gap: 8px;
  padding-left: 10px;

  img {
    width: 25px;
    height: 25px;
  }

  p {
    color: #ffffff;
    font-family: "Open Sans", "sans-serif";
    font-size: 16px;
    font-weight: 700;
  }
}
.img-title {
  align-items: center;
  display: flex;
  gap: 8px;
  padding-left: 10px;

  img {
    width: 25px;
    height: 25px;
  }

  p {
    color: #ffffff;
    font-family: "Open Sans", "sans-serif";
    font-size: 16px;
    font-weight: 300;
  }
}

.package-btn {
  display: flex;
  justify-content: center;
  padding: 30px;

  button {
    color: #ffffff;
    border: none;
    background-color: var(--primary-color);
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
    transition: all 200ms linear;
    padding: 15px 40px;
  }

  button:hover {
    background-color: #ffffff;
    color: var(--primary-background-color);
    transition: background-color 0.5s ease;
  }
}

@media screen and (max-width: 1340px) {
  .pricing-container {
    padding: 0 10px;
  }
  .packages-1-2-blocks {
    flex-direction: column;
    padding: 60px 20px;
  }
  .packages-4-5-blocks {
    flex-direction: column;
  }
  .package-2-block {
    padding-top: 20px;
  }
  .package-3-block {
    padding-top: 20px;
  }

  .underline {
    padding: 0 20px;
  }
}

@media screen and (max-width: 860px) {
  .pricing-title {
    p {
      font-size: 39px;
    }
  }
}

@media screen and (max-width: 480px) {
  .packages-1-2-blocks {
    padding: 40px 20px;
  }
  .packages-4-5-blocks {
    padding: 40px 20px;
  }

  .pricing-title {
    p {
      font-size: 26px;
    }
  }

  .packages-title {
    padding: 10px 0 0;
    p {
      font-size: 24px;
    }

    span {
      font-size: 16px;
      margin: 0 0 10px;
    }
  }

  .packages-price {
    p {
      font-size: 28px;
      margin: 15px 0;
    }
  }

  .img-paragraph {
    p {
      margin: 8px;
      font-size: 14px;
    }
  }

  .img-title {
    p {
      margin: 8px;
      font-size: 14px;
    }
  }

  .package-btn {
    padding: 20px;

    button {
      font-size: 14px;
      padding: 15px 40px;
    }
  }
}
