@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header {
  align-items: center;
  display: flex;
  height: 115px;
  gap: 54px;
}

.header-logo {
  img {
    height: 71px;
    width: 370px;
    object-fit: cover;
  }
}
.header-content {
  align-items: center;
  display: flex;
  gap: 64px;

  span {
    color: #595959;
    font-size: 18px;
    font-family: "Open Sans", "sans-serif";
    padding: 0 0 10px;
  }
  a {
    text-decoration: none;
  }
}

.svg-and-title {
  align-items: center;
  display: flex;
  justify-content: start;
  height: 54px;
  gap: 16px;

  img {
    width: 35px;
    height: 35px;
  }

  p {
    color: #222222;
    font-size: 26px;
    font-family: "Montserrat", "sans-serif";
    font-weight: 700;
  }
}

.background-container {
  background-color: #1f252a;
  border-top: 2px solid #c32f38;
  border-bottom: 2px solid #c32f38;
  max-width: 100%;
}

.links-container {
  max-width: 1540px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-and-button {
  align-items: center;
  background: #1f252a;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 75px;

  button {
    color: #ffffff;
    border-radius: 10px;
    border: none;
    background-color: #c32f38;
    padding: 10px 25px;
    font-family: "Montserrat", "sans-serif";
    font-size: 16px;
    font-weight: 700;
    transition: all 200ms linear;
  }

  button:hover {
    color: #1f252a;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
  }
}

.links {
  display: flex;
  gap: 8px;
  a {
    color: #ffffff;
    font-family: "Montserrat", "sans-serif";
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 27px;
    transition: all 200ms linear;
  }

  a:hover {
    background: #c32f38;
  }
}

.links a.active {
  background: #c32f38;
}

.burger-menu {
  background: none;
  border: none;
  display: none;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  padding: 20px;
  z-index: 2000;
}

.menu-fullscreen {
  display: none;
}

@media screen and (max-width: 860px) {
  .container {
    justify-content: center;
  }

  .header-content {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .links-container,
  .links-and-button {
    display: none;
  }

  .menu-fullscreen {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1500;
  }

  .menu-fullscreen a {
    color: #ffffff;
    font-size: 24px;
    padding: 15px;
    text-decoration: none;
    transition: color 0.3s;
  }

  .menu-fullscreen a:hover {
    color: #c32f38;
  }
}
