@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #c32f38;
  --primary-background-color: #1f252a;
}

.areas-we-services {
  background-color: var(--primary-background-color);
  border-bottom: 3px solid var(--primary-color);
}

.areas-we-services-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 60px 20px 0;
}

.areas-we-services-title {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 39.6px;
    font-weight: 700;
    margin: 0 0 20px;
  }
  span {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: "Open Sans", "sans-serif";
    font-weight: 700;
    margin: 0 0 30px;
  }
}

.areas-we-services-underline {
  height: 10px;
  width: 100%;
  border-top: 3px solid var(--primary-color);
}

.map-and-send-massage {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 60px 0;
}

.map {
  width: 50%;
  padding: 25px;

  img {
    width: 100%;
    height: 100%;
  }
}

.send-massage-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.inputs-and-button {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 50%;
  gap: 24px;

  button {
    color: #ffffff;
    border: none;
    background-color: var(--primary-color);
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
    transition: all 200ms linear;
    padding: 15px 20px;
  }

  button:hover {
    background-color: var(--primary-background-color);
    transition: background-color 0.5s ease;
  }
}

.about-input {
  display: flex;
  flex-direction: column;
  gap: 26px;

  input {
    align-items: center;
    background: #fafafa;
    border-radius: 3px;
    border: none;
    color: #595959;
    display: flex;
    font-size: 16px;
    font-family: "Open Sans", "sans-serif";
    font-weight: 700;
    width: 100%;
    height: 45px;
    justify-content: center;
    padding: 0 20px;
  }

  input::placeholder {
    font-family: "Open Sans", "sans-serif";
    font-weight: 600;
  }
}

.message-input textarea {
  background: #fafafa;
  border-radius: 3px;
  border: none;
  color: #595959;
  font-size: 16px;
  font-family: "Open Sans", "sans-serif";
  font-weight: 700;
  width: 100%;
  height: 160px;
  padding: 20px;
  resize: none;
}

.message-input textarea::placeholder {
  font-family: "Open Sans", "sans-serif";
  font-weight: 600;
}

@media screen and (max-width: 1220px) {
  .send-massage-content {
    width: 75%;
  }

  .map-and-send-massage {
    flex-direction: column;
    padding: 0;

    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      padding: 0 0 40px;
      width: 75%;
    }
  }
  .inputs-and-button {
    align-items: center;
    width: 100%;

    button {
      width: 100%;
    }
  }

  .map {
    width: 80%;
    height: 100%;
  }
}

@media screen and (max-width: 860px) {
  .areas-we-services-title {
    p {
      font-size: 30px;
    }
    span {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 380px) {
  .map {
    display: none;
  }

  .areas-we-services-underline {
    height: 30px;
  }

  .areas-we-services-title {
    p {
      font-size: 22px;
    }
    span {
      font-size: 10px;
    }
  }

  .about-input {
    input {
      height: 35px;
      font-size: 13px;
    }
  }

  .message-input {
    textarea {
      height: 125px;
      font-size: 13px;
    }
  }

  .send-massage-content {
    button {
      padding: 10px 15px;
      font-size: 12px;
    }
  }
}
