@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-img {
  padding-top: 30px;

  img {
    height: 150px;
    object-fit: contain;
  }
}

.about-title {
  width: 36%;

  p {
    color: #d44823;
    font-family: "Montserrat", sans-serif;
    font-size: 21.6px;
    font-weight: 700;
    margin: 0 0 20px;
  }

  h3 {
    color: #1f252a;
    font-family: "Open Sans", "sans-serif";
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    line-height: 35px;
    text-align: justify;
  }
}

.contact-title {
  p {
    color: #d44823;
    font-family: "Montserrat", sans-serif;
    font-size: 21.6px;
    font-weight: 700;
    margin: 0 0 20px;
  }
}

.contact {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 8px;

  h3 {
    color: #1f252a;
    font-family: "Open Sans", "sans-serif";
    font-size: 18px;
    font-weight: 600;
  }
}

.devs {
  align-items: center;
  background: #c32f38;
  display: flex;
  justify-content: center;
  height: 40px;
}

.devs-title {
  p {
    color: #ffffff;
    font-family: "Open Sans", "sans-serif";
    font-size: 15px;
    font-weight: 400;
    margin: 0;
  }
}

@media screen and (max-width: 1220px) {
  .footer-content {
    justify-content: space-evenly;
  }

  .footer-img {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .footer-content {
    align-items: center;
    flex-direction: column;
  }

  .about-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 66%;

    p {
      margin: 0;
    }

    h3 {
      text-align: center;
      margin: 5px 0 20px;
    }
  }
  .contact-title {
    align-items: center;
    display: flex;
    flex-direction: column;

    p {
      margin: 5px 0 5px;
    }
  }
}

@media screen and (max-width: 480px) {
  .about-title {
    p {
      font-size: 18px;
    }

    h3 {
      font-size: 12px;
      line-height: 22px;
    }
  }
  .contact-title {
    p {
      font-size: 18px;
    }

    h3 {
      font-size: 14px;
    }

    span {
      font-size: 12px;
    }
  }

  .devs {
    height: 20px;
  }

  .devs-title {
    p {
      font-size: 10px;
    }
  }
}
