@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

.backround-container {
  background-color: #1f252a;
  border-top: 2px solid #c32f38;
  border-bottom: 2px solid #c32f38;
  max-width: 100%;
}

.links-container {
  max-width: 1540px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-and-button {
  align-items: center;
  background: #1f252a;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 75px;

  button {
    color: #ffffff;
    border-radius: 10px;
    border: none;
    background-color: #c32f38;
    padding: 10px 25px;
    font-family: "Montserrat", "sans-serif";
    font-size: 16px;
    font-weight: 700;
    transition: all 200ms linear;
  }

  button:hover {
    color: #1f252a;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
  }
}

.links {
  display: flex;
  gap: 4px;
  a {
    color: #ffffff;
    font-family: "Montserrat", "sans-serif";
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 26px;
    transition: all 200ms linear;
  }

  a:hover {
    background: #c32f38;
  }
}

.aboutUs-title {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aboutUs-title img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.aboutUs-title .image-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.3);
  z-index: 1;
}

.intro-title-container {
  align-items: center;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.home-intro-img-title {
  align-items: center;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  width: 1035px;
  height: 270px;
  position: relative;
  text-align: center;

  p {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 54px;
    font-weight: 700;
    font-style: italic;
    width: 935px;
    position: relative;
    z-index: 3;
  }
}

.our-services {
  max-width: 1200px;
  margin: 0 auto;
}

.our-services-title-content {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  p {
    padding-top: 80px;
    color: #222222;
    font-family: "Montserrat", sans-serif;
    font-size: 39.6px;
    font-weight: 700;
    margin: 0 0 20px;
  }

  span {
    color: #595959;
    font-size: 18px;
    font-family: "Open Sans", "sans-serif";
    padding: 0 0 30px;
  }
}

.our-services-underline {
  height: 10px;
  width: 100%;
  border-top: 3px solid #c32f38;
}

.our-services-img-content {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 80px;
}

.our-services-img {
  width: 360px;
  height: 500px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.3);
    z-index: 1;
    transition: all 0.3s linear;
  }

  &:hover .image-mask {
    background-color: rgba(0, 0, 0, 0.7);
  }

  p {
    margin: 35px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    width: 300px;
    z-index: 3;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      height: 3px;
      width: 0;
      background-color: #ffffff;
      transition: width 0.2s ease;
      transform-origin: left;
    }
  }

  &:hover p::after {
    width: 100%;
  }

  ul {
    position: absolute;
    top: 30%;
    left: 50px;
    padding-left: 0;
    opacity: 0;
    transform: translateX(4%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 1;
  }

  &:hover ul {
    opacity: 1;
    transform: translateX(0);
  }

  li {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-bottom: 18px;
  }
}

.makes {
  background-color: #1f252a;
}

.makes-container {
  max-width: 1200px;
  margin: 0 auto;
}

.makes-title {
  display: flex;
  justify-content: center;
  p {
    padding-top: 60px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 39.6px;
    font-weight: 700;
    margin: 0 0 20px;
  }
}

.makes-underline {
  height: 10px;
  width: 100%;
  border-top: 3px solid #c32f38;
}

.blocks {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 40px;
}

.upper-blocks {
  display: flex;
  flex-direction: row;
}

.lower-blocks {
  display: flex;
  flex-direction: row;
}

.block-content {
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 255px;

  img {
    width: 70px;
    height: 70px;
  }

  p {
    font-style: italic;
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 21.6px;
    font-weight: 700;
  }

  h3 {
    color: #ffffff;
    font-family: "Open Sans", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 360px;
  }
}

.about-us {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 48px;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px;
}

.right-content-dir {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-img-container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}

.about-us-title {
  p {
    margin: 20px 0;
    color: #222222;
    font-family: "Montserrat", sans-serif;
    font-size: 39.6px;
    font-weight: 700;
  }

  h3 {
    margin: 0;
    color: #595959;
    font-size: 18px;
    font-family: "Open Sans", "sans-serif";
    font-weight: 400;
    line-height: 33px;
    width: 600px;
    padding-bottom: 30px;
  }
}

.ida-logo {
  img {
    width: 500px;
    height: 550px;
  }
}

.about-us-buttons {
  display: flex;
  gap: 16px;

  button {
    color: #ffffff;
    border: none;
    background-color: #c32f38;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
    transition: all 200ms linear;
    width: 190px;
    height: 45px;
  }

  button:hover {
    background-color: #1f252a;
    transition: background-color 0.5s ease;
  }
}

.nicole-T-text {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;

  p {
    margin: 20px 0;
    color: #222222;
    font-family: "Montserrat", sans-serif;
    font-size: 28.8px;
    font-weight: 700;
  }

  h3 {
    margin: 0 0 18px;
    padding: 0 0 10px;
    color: #595959;
    font-size: 18px;
    font-family: "Open Sans", "sans-serif";
    font-weight: 400;
    font-style: italic;
    line-height: 35px;
    width: 100%;
  }

  span {
    color: #595959;
    font-size: 18px;
    font-family: "Open Sans", "sans-serif";
    font-weight: 700;
  }
}
